/* Recipe Container */
.recipes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 90%;
  margin: 1rem auto;
}

@media screen and (min-width: 787px) and (max-width: 1200px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .recipes-container {
    display: block;
  }
}

/* Recipe Card */
.recipe {
  margin: 1rem auto;
  box-shadow: 2px 10px 20px var(--primary-color);
  border-radius: 5px;
  display: flex;
}

@media screen and (max-width: 786px) {
  .recipe {
    display: block;
  }
}

.recipe-thumbnail {
  display: inline-block;
  width: 100%;
  flex: 1 1 200px;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 786px) {
  .recipe-thumbnail {
    border-radius: 0;
  }
}
.recipe-details {
  flex: 1 0 50%;
  text-align: center;
  border-bottom-left-radius: 10px;
}
.recipe-title {
  background: var(--primary-color);
  padding: 5px;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 10px;
  transition: all 1s ease-in;
}
@media screen and (max-width: 786px) {
  .recipe-title {
    border-radius: 0;
  }
}
.recipe-title:hover {
  background: #333;
}

.recipe-link {
  text-decoration: none;
  color: #fff;
}

.recipe-description {
  padding: 10px;
  margin-bottom: 20px;
}

.recipe-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.7;
}

.recipe-meta-item {
  background: #f4f4f4;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-meta-item:nth-child(2n) {
  background: var(--secondary-color);
}

@media screen and (max-width: 800px) {
  .recipe-meta {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* recipe single page */
.recipe-container {
  max-width: 80%;
  margin: 1rem auto;
}

@media screen and (max-width: 700px) {
  .recipe-container {
    max-width: 90%;
  }
}

/* recipe cards */
.recipe-content {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 700px) {
  .recipe-content {
    display: block;
    max-width: 100%;
  }
}
.recipe-card {
  background: #f4f4f4;
  box-shadow: 1px 1px 5px var(--secondary-color);
  border-radius: 10px;
  padding: 1rem 0.4rem;
  margin: 1rem auto;
}
.recipe-card-content {
  padding: 1rem;
}

.recipe-card-header {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
