.container {
  background: #f4f4f4;
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 787px) {
  .container {
    width: 90%;
  }
}

.container-inner {
  background: #fff;
}

.container-inner h1 {
  text-align: center;
  margin: 1rem;
  border-bottom: 1px var(--secondary-color) dotted;
  padding: 1rem;
}
